[submodule "Packages/MAVLinkAPI"]
	path = Packages/MAVLinkAPI
	url = https://github.com/tribbloid/MAVLinkAPI
[submodule "Packages/ARGlassesSDK"]
	path = Packages/ARGlassesSDK
	url = https://github.com/hpvdt/UnityARGlassesSDK
