[submodule "ar-drivers-rs"]
	path = ar-drivers-rs
	url = https://github.com/hpvdt/ar-drivers-rs
[submodule "Packages/MAVLinkAPI"]
	path = Packages/MAVLinkAPI
	url = https://github.com/tribbloid/MAVLinkAPI
